* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    background-color: rgb(1, 0, 0);                                         
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.container {
    text-align: center;
    background-color: rgba(251, 2, 2, 0.8); 
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.header-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
}
.clickable-img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s;
}

.clickable-img:hover {
    transform: scale(1.1);
}


h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #222;
}

p {
    font-size: 1rem;
    margin-bottom: 30px;
    color: #555;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 400px;       /* limite la hauteur */
    overflow-y: auto;        /* scroll si nécessaire */
    padding-right: 5px;
    transition: all 0.3s ease;
}

/* Cacher par défaut */
.links.hidden {
    display: none;
}

/* Scrollbar discrète */
.links::-webkit-scrollbar {
    width: 6px;
}

.links::-webkit-scrollbar-track {
    background: transparent;
}

.links::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.4);
    border-radius: 10px;
}

.links a {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: rgba(0,0,0,0.6);
    padding: 15px 20px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    transition: transform 0.3s, box-shadow 0.3s;
}

.links a:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.links a img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    border-radius: 10px;
}

.links a span {
    font-size: 16px;
    font-weight: bold;
}



@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    .links a img {
        width: 60px;
        height: 60px;
    }

    .container {
        padding: 30px 15px;
    }
}
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 30px;
}

#toggleFolder:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

 footer {
    position: fixed; 
    bottom: 0;       
    left: 0;
    width: 100%;  
    color: #ffffff;   
    background-color: rgba(0, 0, 0, 0.6); 
    text-align: center;
    padding: 15px;
    border-radius: 8px 8px 0 0; 
 }
